{% load static %}

<style>
    .search-bar {
        width: 100%;
        max-width: 50em;
    }
</style>


<div class=" p-2 d-flex flex-column flex-md-row align-items-center pb-1 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span style="font-size: 1.5rem">BlogSnake</span>
    </a>
    <div style="width: 30px"></div>
    <div class="m-auto search-bar">
        <form method="get" action="/">
            <input class="form-control" type="text" name="q" id="id_q" value="{{ query }}" placeholder="Search ...">
        </form>
    </div>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">


        {% if request.user.is_authenticated %}

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Olá, {{ request.user.get_first_name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" href="{% url 'account' %}"> Account</a></li>
                    <li><a class="dropdown-item" href="{% url 'post:user_posts' %}">My Post's</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" style="color: red"
                           href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>

        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            <div class="p-2"></div>
            <a class="btn btn-outline-success" href="{% url 'register' %}">Register</a>
            <div class="p-2"></div>

        {% endif %}
    </nav>
</div>



