{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="container">
            <div class="d-flex flex-column">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Enviamos um email de verificação para você</h4>
                    <p class="m-auto p-2">
                        Nós enviamos um email para você com as instruções de alteração da sua senha. Se o email inserido existe você receberá o email.
                    </p>
                    <p class="m-auto p-2">
                        We've emailed you instructions for setting your password, if an account exists with the email
                        you entered.
                        You should receive them shortly.
                    </p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and
                        tidy.</p>
                </div>


            </div>
            <div align="right">
                <a class="p-2 text-dark" style="font-size: 22px" href="{% url 'home' %}">Ir para
                    Inicio</a>
            </div>

        </div>
    </div>




{% endblock %}