{% extends 'base.html' %}


{% block content %}


    <div class="container">
        <div class="d-flex flex-column">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Senha Recuperada Com Sucesso</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                    longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>


        </div>
        <div align="right"><a class="p-2 text-dark" style="font-size: 22px" href="{% url 'login' %}">Realizar Login</a></div>

    </div>





{% endblock %}